$header: 60px;
.admin-container {
    display: flex;
    .admin-sidebar {
        .pro-sidebar {
            min-height: 100vh;
        }
    }
    .admin-content {
        width: 100%;
        .admin-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: $header;
            padding: 0 15px;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
            .left-side {
                cursor: pointer;
                font-size: 20px;
            }
            .right-side {
                display: flex;
                align-items: center;
                gap: 15px;
                margin-right: 28px;
            }
        }
        .admin-main {
            height: calc(100vh - $header);
        }
    }
}
.ovf-hidden {
    overflow: hidden;
}
